$color-yellow: #fef0d5;
$color-blue:#235c55;
$color-red: #d81e5d;
$color-grey: #dbdbdb;
$color-grey-dark: #525053;

$font-header: 'Roboto Condensed', sans-serif;

$calendar-gap: 25px;

$width-small: 450px;


@mixin big-component-style() {
	padding: 0 10px;
}

body {  
	font-family: sans-serif;
}

//  Header Section

.header-region {
	@include big-component-style();
	background: $color-yellow;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 30px;

	.site-name {
		margin-left: 20px;

		@media (max-width: $width-small) {
			margin-left: 0;
		}
	}

	.share-calendar {
		margin-left: auto;

		@media (max-width: $width-small) {
			margin: 0 auto;
		}
	}

	.social-networks {
		margin-top: 15px;
		min-height: 18px;
	}

	.layout {
		display: flex;
		align-items: center;

		@media (max-width: $width-small) {
			flex-wrap: wrap; 
			text-align: center;
		}
	}
}

.site-name {
	font-family: $font-header;
	color: $color-blue;
	margin: 10px 0 0 20px;

	.title {	
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 3px 0;
	}

	.description {
		font-size: 16px;
		margin-top: 0;
	}

}

.main-button {
	background: $color-red;
	font-family: sans-serif;
	text-decoration: none;
	color: #ffe6de;
	padding: 5px 11px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	transition: background 2s;

	&:hover {
		background: lighten($color-red, 30%);
		color: $color-grey-dark;
		transition: 2s;
	}
	
	&.-big {
		font-size: 20px;
		font-weight: normal;
		border-radius: 20px;
	}
}



.site-logo {
	
	.image {
		width: 90px;

		@media (max-width: $width-small) {
			width: 50px;
		}
	}

	@media (max-width: $width-small) {
		margin: 0 auto;
	}
}

.social-networks {
	text-align: center;
	
}

._container {
	max-width: 960px;
	margin: 0 auto;
}

// Middle Sections

.color-choice {
	.label {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.dropdown {
		padding: 5px;
		border: 1px solid $color-grey;
		border-radius: 5px;
	}
}

.control-panel {
	@include big-component-style();
}

// Calendar Section and Table

.single-calendar {
	color: $color-grey-dark;
	margin-top: 50px;

	.deletecalendar {
		margin-right: 20px;
	}

	.addcalendar {
		margin-left: 20px;
	}

	.deletecalendar,
	.addcalendar {
		visibility: hidden;
		font-size: 15px;
		vertical-align: middle;
		cursor: pointer;

		&:hover {
			color: $color-red;
		}
	}

	&:hover .deletecalendar {
		visibility: visible;
	}

	&:hover .addcalendar {
		visibility: visible;
	}

	.calendar {
		border: 1px solid $color-blue;
		border-radius: 10px;
		padding: 15px 10px;
		width: 270px;
	}

	.monthname {
		font-family: $font-header;
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 10px;
		color: $color-grey-dark;
		text-align: center;		
	}

	.weekdays {
		color: lighten($color-grey-dark, 50%);		
	}

	.dayname {
		font-weight: normal;
		text-align: center;
		padding-bottom: 7px;		
	}

	.daynumber {
		padding: 15px 5px 15px 5px;
		text-align: center;
	}

	.daynumber:hover {
		background: $color-yellow;
		cursor: pointer;
	}

	.daynumber:last-child,
	.dayname:last-child {
		color: $color-red;
	}
}

.calendar-list {
	@include big-component-style();
	.single-calendar {
		margin-left: $calendar-gap;
	 }
}


.calendar-list .layout{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-left: -$calendar-gap;
}
   

// Form Section

.registor-region {
	margin: 50px 0;
	padding: 50px 0;
	background: black url('img/bcgrn.png') center no-repeat;
	background-size: cover;
 
	.form-normal {
		opacity: 0;
		transition: 2s;
	}

	&:hover .form-normal {
		animation: showform 1s forwards;
		opacity: 1;
		transition: 2s;
	}
}

.form-normal { 

	.input , .select {
		margin: 12px auto;
		display: block;
		width: 220px;
		height: 33px;
		border: 1px solid $color-grey-dark;
		padding: 5px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
	}

	.checkbox {
		cursor: pointer;
		display: block;
		width: 220px;
		margin: 0 auto;
		color: #e6e6e6;
	}

	.submit {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	} 
}

@keyframes showform {
	0% { margin-left: -2000px; }
	100% { margin-left: 0; }
}
