body {
  font-family: sans-serif;
}

.header-region {
  padding: 0 10px;
  background: #fef0d5;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.header-region .site-name {
  margin-left: 20px;
}

@media (max-width: 450px) {
  .header-region .site-name {
    margin-left: 0;
  }
}

.header-region .share-calendar {
  margin-left: auto;
}

@media (max-width: 450px) {
  .header-region .share-calendar {
    margin: 0 auto;
  }
}

.header-region .social-networks {
  margin-top: 15px;
  min-height: 18px;
}

.header-region .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .header-region .layout {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.site-name {
  font-family: "Roboto Condensed", sans-serif;
  color: #235c55;
  margin: 10px 0 0 20px;
}

.site-name .title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 3px 0;
}

.site-name .description {
  font-size: 16px;
  margin-top: 0;
}

.main-button {
  background: #d81e5d;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffe6de;
  padding: 5px 11px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  -webkit-transition: background 2s;
  transition: background 2s;
}

.main-button:hover {
  background: #f19eba;
  color: #525053;
  -webkit-transition: 2s;
  transition: 2s;
}

.main-button.-big {
  font-size: 20px;
  font-weight: normal;
  border-radius: 20px;
}

.site-logo .image {
  width: 90px;
}

@media (max-width: 450px) {
  .site-logo .image {
    width: 50px;
  }
}

@media (max-width: 450px) {
  .site-logo {
    margin: 0 auto;
  }
}

.social-networks {
  text-align: center;
}

._container {
  max-width: 960px;
  margin: 0 auto;
}

.color-choice .label {
  font-weight: bold;
  margin-bottom: 5px;
}

.color-choice .dropdown {
  padding: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.control-panel {
  padding: 0 10px;
}

.single-calendar {
  color: #525053;
  margin-top: 50px;
}

.single-calendar .deletecalendar {
  margin-right: 20px;
}

.single-calendar .addcalendar {
  margin-left: 20px;
}

.single-calendar .deletecalendar,
.single-calendar .addcalendar {
  visibility: hidden;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.single-calendar .deletecalendar:hover,
.single-calendar .addcalendar:hover {
  color: #d81e5d;
}

.single-calendar:hover .deletecalendar {
  visibility: visible;
}

.single-calendar:hover .addcalendar {
  visibility: visible;
}

.single-calendar .calendar {
  border: 1px solid #235c55;
  border-radius: 10px;
  padding: 15px 10px;
  width: 270px;
}

.single-calendar .monthname {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #525053;
  text-align: center;
}

.single-calendar .weekdays {
  color: #d1d0d2;
}

.single-calendar .dayname {
  font-weight: normal;
  text-align: center;
  padding-bottom: 7px;
}

.single-calendar .daynumber {
  padding: 15px 5px 15px 5px;
  text-align: center;
}

.single-calendar .daynumber:hover {
  background: #fef0d5;
  cursor: pointer;
}

.single-calendar .daynumber:last-child,
.single-calendar .dayname:last-child {
  color: #d81e5d;
}

.calendar-list {
  padding: 0 10px;
}

.calendar-list .single-calendar {
  margin-left: 25px;
}

.calendar-list .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -25px;
}

.registor-region {
  margin: 50px 0;
  padding: 50px 0;
  background: black url("img/bcgrn.png") center no-repeat;
  background-size: cover;
}

.registor-region .form-normal {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.registor-region:hover .form-normal {
  -webkit-animation: showform 1s forwards;
          animation: showform 1s forwards;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.form-normal .input, .form-normal .select {
  margin: 12px auto;
  display: block;
  width: 220px;
  height: 33px;
  border: 1px solid #525053;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-normal .checkbox {
  cursor: pointer;
  display: block;
  width: 220px;
  margin: 0 auto;
  color: #e6e6e6;
}

.form-normal .submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

@-webkit-keyframes showform {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes showform {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */